In [1]:
import pandas as pd
import numpy as np
import requests
import os
import html
from LogUtil import create_logger

In [3]:
ALPHAVANTAGE_API_KEY=os.environ.get('ALPHAVANTAGE_API_KEY')
ALPHAVANTAGE_API_KEY

'YFG9O9WBQAFHKN2O'

In [53]:
symbol='HEAR'
frequency='full'
df = pd.read_csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=%s&outputsize=%s&apikey=%s&datatype=csv' % (symbol, frequency, ALPHAVANTAGE_API_KEY),
                index_col=0)

In [55]:
df

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2018-04-17,4.2900,4.8800,3.9204,4.2000,4.2000,2403278,0.0,1.00
2018-04-16,3.9400,5.5000,3.9400,4.3700,4.3700,5943349,0.0,1.00
2018-04-13,3.0600,4.2000,3.0600,3.9100,3.9100,3685372,0.0,1.00
2018-04-12,2.9600,3.6000,2.7603,3.0900,3.0900,789915,0.0,1.00
2018-04-11,3.3900,3.4000,3.0200,3.1200,3.1200,367450,0.0,1.00
2018-04-10,3.8900,3.9400,3.1500,3.2300,3.2300,1708060,0.0,1.00
2018-04-09,3.5800,5.7500,3.2000,3.2900,3.2900,3927846,0.0,0.25
2018-04-06,0.7340,0.7399,0.6000,0.6400,2.5600,778755,0.0,1.00
2018-04-05,0.7100,0.7500,0.6901,0.7250,2.9000,429927,0.0,1.00
2018-04-04,0.6759,0.7800,0.6700,0.6998,2.7992,984060,0.0,1.00
2018-04-03,0.6700,0.7400,0.6500,0.6951,2.7804,844846,0.0,1.00
2018-04-02,0.5900,0.6900,0.5900,0.6435,2.5740,1006668,0.0,1.00
2018-03-29,0.6700,0.6716,0.5800,0.5999,2.3996,860972,0.0,1.00
2018-03-28,0.5430,0.6700,0.5427,0.6700,2.6800,2470894,0.0,1.00
2018-03-27,0.5010,0.5900,0.5003,0.5590,2.2360,1082169,0.0,1.00
2018-03-26,0.5150,0.5300,0.5000,0.5021,2.0084,274803,0.0,1.00
2018-03-23,0.5147,0.5300,0.5026,0.5280,2.1120,223545,0.0,1.00
2018-03-22,0.5278,0.5278,0.5050,0.5077,2.0308,89102,0.0,1.00
2018-03-21,0.5000,0.5300,0.4731,0.5298,2.1192,366145,0.0,1.00
2018-03-20,0.5000,0.5100,0.4900,0.5000,2.0000,64621,0.0,1.00
2018-03-19,0.5000,0.5000,0.4900,0.5000,2.0000,105057,0.0,1.00
2018-03-16,0.4800,0.5200,0.4799,0.5000,2.0000,217081,0.0,1.00
2018-03-15,0.4900,0.4998,0.4610,0.4941,1.9764,322435,0.0,1.00
2018-03-14,0.4908,0.5153,0.4750,0.4901,1.9604,181904,0.0,1.00
2018-03-13,0.4700,0.5500,0.4512,0.4860,1.9440,408639,0.0,1.00
2018-03-12,0.4849,0.4900,0.4651,0.4760,1.9040,176748,0.0,1.00
2018-03-09,0.4935,0.4950,0.4700,0.4800,1.9200,315530,0.0,1.00
2018-03-08,0.5200,0.5250,0.4900,0.5019,2.0076,321002,0.0,1.00
2018-03-07,0.5800,0.5899,0.5051,0.5102,2.0408,1403586,0.0,1.00
2018-03-06,0.5800,0.6000,0.5320,0.5600,2.2400,1108574,0.0,1.00
...,...,...,...,...,...,...,...,...
2010-11-15,0.3200,0.3500,0.3200,0.3500,7.0000,7000,0.0,1.00
2010-11-12,0.3500,0.3500,0.3200,0.3500,7.0000,23145,0.0,1.00
2010-11-11,0.3300,0.3500,0.3200,0.3500,7.0000,41650,0.0,1.00
2010-11-10,0.3500,0.3800,0.3100,0.3500,7.0000,62225,0.0,1.00
2010-11-09,0.3900,0.3900,0.3300,0.3500,7.0000,166120,0.0,1.00
2010-11-08,0.3900,0.3900,0.3600,0.3900,7.8000,58820,0.0,1.00
2010-11-05,0.4000,0.4000,0.3090,0.3600,7.2000,8161,0.0,1.00
2010-11-04,0.4000,0.4000,0.3500,0.4000,8.0000,15425,0.0,1.00
2010-11-03,0.3200,0.4000,0.3200,0.4000,8.0000,20442,0.0,1.00
2010-11-02,0.3100,0.4300,0.3100,0.4000,8.0000,14138,0.0,1.00
2010-11-01,0.3500,0.4000,0.3500,0.3600,7.2000,8357,0.0,1.00
2010-10-29,0.3500,0.4000,0.3500,0.4000,8.0000,12653,0.0,1.00
2010-10-28,0.3500,0.3500,0.3500,0.3500,7.0000,2190,0.0,1.00
2010-10-27,0.4500,0.4500,0.3300,0.4000,8.0000,90579,0.0,1.00
2010-10-26,0.3100,0.4500,0.3100,0.4500,9.0000,15420,0.0,1.00
2010-10-25,0.3100,0.4500,0.3100,0.3500,7.0000,28750,0.0,1.00
2010-10-22,0.3000,0.4000,0.3000,0.3500,7.0000,25251,0.0,1.00
2010-10-21,0.3500,0.3500,0.3000,0.3500,7.0000,59532,0.0,1.00
2010-10-20,0.3500,0.3500,0.3000,0.3000,6.0000,46702,0.0,1.00
2010-10-19,0.3000,0.3500,0.3000,0.3000,6.0000,15113,0.0,1.00
2010-10-18,0.3500,0.3500,0.3000,0.3500,7.0000,45949,0.0,1.00
2010-10-15,0.3100,0.3500,0.3000,0.3500,7.0000,103530,0.0,1.00
2010-10-14,0.3000,0.3000,0.3000,0.3000,6.0000,75592,0.0,1.00
2010-10-13,0.3100,0.3300,0.2600,0.3000,6.0000,255747,0.0,1.00
2010-10-12,0.3500,0.3900,0.3100,0.3100,6.2000,81153,0.0,1.00
2010-10-11,0.2500,0.3800,0.2500,0.3500,7.0000,27503,0.0,1.00
2010-10-08,0.3500,0.5000,0.3500,0.3600,7.2000,48367,0.0,1.00
2010-10-07,0.3000,0.5000,0.3000,0.3000,6.0000,382366,0.0,1.00
2010-10-06,0.2000,0.3000,0.2000,0.2600,5.2000,118393,0.0,1.00
2010-10-05,0.2000,0.2000,0.2000,0.2000,4.0000,7000,0.0,1.00

In [39]:
mydf=df.loc[['2018-02-01','2018-02-02','2018-02-05','2018-02-06','2018-02-07','2018-02-08','2018-02-09','2018-02-12']]
mydf

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2018-02-01,163.19,164.13,161.9000,162.40,160.7661,4422505,0.0,1.0
2018-02-02,161.70,162.00,158.8663,159.03,157.4300,5174779,0.0,1.0
2018-02-05,157.89,158.50,150.0000,152.53,150.9954,8600416,0.0,1.0
2018-02-06,150.29,155.49,149.1100,155.34,153.7771,9823824,0.0,1.0
2018-02-07,154.17,155.34,153.2800,153.85,152.3021,6069258,0.0,1.0
2018-02-08,152.48,153.16,147.5000,147.59,147.5900,6599136,1.5,1.0
2018-02-09,148.60,150.54,144.3955,149.51,149.5100,7763603,0.0,1.0
2018-02-12,150.90,152.40,150.3000,151.40,151.4000,5659623,0.0,1.0

In [60]:
mydf[['close', 'adjusted_close' ,'dividend_amount']]

             close  adjusted_close  dividend_amount
timestamp
2018-02-01  162.40        160.7661              0.0
2018-02-02  159.03        157.4300              0.0
2018-02-05  152.53        150.9954              0.0
2018-02-06  155.34        153.7771              0.0
2018-02-07  153.85        152.3021              0.0
2018-02-08  147.59        147.5900              1.5
2018-02-09  149.51        149.5100              0.0
2018-02-12  151.40        151.4000              0.0

In [49]:
dates = ['2018-02-01','2018-02-02','2018-02-05','2018-02-06','2018-02-07','2018-02-08','2018-02-09','2018-02-12']
iexdf = pd.read_json('https://api.iextrading.com/1.0/stock/%s/chart/%s' % (symbol, '2y'))
iexdf.set_index('date', inplace=True)
iexdf.loc[pd.to_datetime(dates)]['close']

2018-02-01    160.8166
2018-02-02    157.4795
2018-02-05    151.0428
2018-02-06    153.8254
2018-02-07    152.3500
2018-02-08    147.5900
2018-02-09    149.5100
2018-02-12    151.4000
Name: close, dtype: float64

In [10]:
df[.index.get_loc('2017-04-17')]

252

In [61]:
outputsize_map = {'5y':5*252, '2y':2*252, '1y':252, '6m':6*21, '3m':3*21, '1m':21}
def history_av(symbol, frequency='2y'):
    """
    Close price adjusted for both dividends and splits.
    frequency: allowed values: 5y, 2y, 1y, 6m, 3m, 1m
    """
    if frequency not in ['5y', '2y', '1y', '6m', '3m', '1m']:
        raise ValueError("Allowed frequency values: 5y, 2y, 1y, 6m, 3m, 1m.")
        
    df = pd.read_csv('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=%s&outputsize=%s&apikey=%s&datatype=csv' % 
                     (symbol, 'full', ALPHAVANTAGE_API_KEY),
                     index_col=0)
    df = df.iloc[:outputsize_map[frequency]]
    df.drop(columns=['adjusted_close'], inplace=True)
    df.sort_index(inplace=True)
    
    return df

In [62]:
history_av('IBM').tail(10)

,open,high,low,close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,
2018-04-04,147.89,154.470,147.4500,154.12,4805261,0.0,1.0
2018-04-05,154.44,154.920,153.3400,154.03,3185388,0.0,1.0
2018-04-06,153.46,153.950,149.5400,150.57,3672919,0.0,1.0
2018-04-09,151.80,154.660,151.7433,152.69,4413178,0.0,1.0
2018-04-10,155.03,156.605,154.7500,155.39,3955952,0.0,1.0
2018-04-11,154.37,155.780,153.8800,155.36,3306539,0.0,1.0
2018-04-12,156.75,158.980,156.6700,158.07,5639444,0.0,1.0
2018-04-13,158.67,159.220,155.9100,156.71,4057058,0.0,1.0
2018-04-16,157.99,159.140,157.6700,157.89,4186755,0.0,1.0
2018-04-17,158.82,162.000,158.5100,160.91,10207534,0.0,1.0

In [136]:
def prices(symbol, dates):
    d = pd.to_datetime(dates)

    df = history(symbol)
    new_index = pd.date_range(df.index[0], df.index[-1])
    df['date'] = df.index
    df = df.reindex(new_index)
    df.fillna(method='ffill', inplace=True)
    
    ret = df.loc[d]
    ret['query_date'] = ret.index
    ret.index = ret['date']
    ret.drop(columns=['date'], inplace=True)
    return ret

In [137]:
symbol = 'IBM'
dates = ['2017-03-11', '2017-04-29', '2017-07-29', '2017-11-04', '2018-03-03']
prices(symbol, dates)

,change,changePercent,close,high,low,open,volume,vwap,query_date
date,,,,,,,,,
2017-03-10,0.624529,0.367,170.8616,172.4565,170.4676,171.2267,3100326.0,171.2129,2017-03-11
2017-04-28,-0.028823,-0.019,154.0089,154.2971,153.4420,154.2107,4154147.0,153.9616,2017-04-29
2017-07-28,-0.756756,-0.538,139.9901,140.7178,139.5536,140.4946,3054834.0,140.0838,2017-07-29
2017-11-03,-1.735400,-1.154,148.6167,150.4697,148.5284,150.4207,4431825.0,149.0979,2017-11-04
2018-03-02,0.680000,0.442,154.4900,154.7600,151.8800,152.7900,3261141.0,153.7504,2018-03-03

In [1]:
from DataDownloader import load_fundamentals

In [2]:
exchange = 'NYSE'
symbol = 'IBM'
df = load_fundamentals(symbol)

In [150]:
df.columns

Index(['2017-03-11', '2017-04-29', '2017-07-29', '2017-11-04', '2018-03-03'], dtype='object')

In [157]:
prices(symbol, df.columns)['close']

date
2017-03-10    170.8616
2017-04-28    154.0089
2017-07-28    139.9901
2017-11-03    148.6167
2018-03-02    154.4900
Name: close, dtype: float64

In [163]:
df.loc['price']=prices(symbol, df.columns)['close'].values
df.loc['price_date']=prices(symbol, df.columns)['close'].index.date

In [3]:
df.tail()

,2017-03-11,2017-04-29,2017-07-29,2017-11-04,2018-03-03
datekey,,,,,
Return on Assets (ROA),0.1,0.0,0.0,0.0,0.0
price/cash flow ratio,10.1,10.0,8.9,9.6,8.7
price/free cash flow ratio,13.3,13.4,11.8,13.0,11.2
price_datekey,170.862,154.009,139.99,148.617,154.49
price_date,2017-03-10,2017-04-28,2017-07-28,2017-11-03,2018-03-02

In [6]:

#def load_fundamentals(symbol):
url = "https://ih.advfn.com/p.php?pid=financials&btn=quarterly_reports&symbol=%s" % symbol
try:
    df = pd.read_html(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text,
                  attrs={'style': 'width:705px; text-align:left; background-color: #ffffff;'},
                  index_col=0)[0]
except ValueError as e:
    raise ValueError("No tables found at " + url)

df.rename(columns=df.loc['date preliminary data loaded'], inplace=True)
df.drop(['date preliminary data loaded'], inplace=True)
df.index.name = 'datekey'

In [12]:
df.head()

,2017-03-11,2017-04-29,2017-07-29,2017-11-04,2018-03-03
datekey,,,,,
INDICATORS,NaN,NaN,NaN,NaN,NaN
quarter end date,2016/12,2017/03,2017/06,2017/09,2017/12
earnings period indicator,A,A,A,A,A
quarterly indicator,4,1,2,3,4
basic earnings indicator,Y,Y,Y,Y,Y

210

In [20]:
#df.get_loc['RATIOS CALCULATIONS']
df.iloc[:df.index.get_loc('RATIOS CALCULATIONS')]

,2017-03-11,2017-04-29,2017-07-29,2017-11-04,2018-03-03
datekey,,,,,
INDICATORS,NaN,NaN,NaN,NaN,NaN
quarter end date,2016/12,2017/03,2017/06,2017/09,2017/12
earnings period indicator,A,A,A,A,A
quarterly indicator,4,1,2,3,4
basic earnings indicator,Y,Y,Y,Y,Y
template indicator,NaN,NaN,NaN,NaN,NaN
preliminary full context ind,N,N,N,N,N
projected fiscal year date,2016-12-31,2017-12-31,2017-12-31,2017-12-31,2017-12-31
number of months last report period,3,3,3,3,3
INCOME STATEMENT,NaN,NaN,NaN,NaN,NaN
operating revenue,21771.0,18155.0,19289.0,19153.0,22543.0
total revenue,21770.0,18155.0,19289.0,19153.0,22542.0
adjustments to revenue,0.0,0.0,0.0,0.0,0.0
cost of sales,10146.0,9674.0,9765.0,9561.0,10891.0
cost of sales with depreciation,10877.0,10383.0,10495.0,10353.0,11681.0
gross margin,10893.0,7772.0,8794.0,8800.0,10862.0
gross operating profit,10893.0,7772.0,8794.0,8800.0,10862.0
Research & Development (R&D) Expense,910.0,1088.0,1119.0,1034.0,1427.0
"Selling, General & Administrative (SG&A) Expense",4847.0,5006.0,5015.0,4515.0,5017.0
advertising,276.0,363.0,390.0,337.0,355.0
operating income,5007.0,1533.0,2515.0,3119.0,4289.0
EBITDA,6269.0,2658.0,3707.0,4409.0,5782.0
depreciation,731.0,709.0,730.0,792.0,790.0
depreciation (unrecognized),-396.0,-390.0,-387.0,-384.0,-359.0
amortization,-599.0,-579.0,-603.0,-667.0,-676.0
amortization of intangibles,132.0,130.0,127.0,125.0,114.0
operating profit after depreciation,5538.0,1949.0,2977.0,3617.0,4992.0
interest income,32.0,30.0,34.0,38.0,42.0
earnings from equity interest,0.0,0.0,0.0,0.0,0.0
other income net,103.0,-4.0,41.0,76.0,302.0
...,...,...,...,...,...
INVESTING ACTIVITIES,NaN,NaN,NaN,NaN,NaN
"sale of property, plant & equipment",190.0,58.0,78.0,201.0,123.0
sale of long-term investments,0.0,0.0,0.0,0.0,0.0
sale of short-term investments,0.0,0.0,0.0,0.0,0.0
"purchase of property, plant & equipment",-973.0,-740.0,-685.0,-848.0,-956.0
acquisitions,-723.0,-109.0,-60.0,-273.0,-54.0
purchase of long-term investments,0.0,0.0,0.0,0.0,0.0
purchase of short-term investments,0.0,0.0,0.0,0.0,0.0
"other investing changes, net",-2021.0,1570.0,-754.0,-347.0,-2497.0
cash from discontinued investing activities,0.0,0.0,0.0,0.0,0.0
net cash from investing activities,-3376.0,350.0,-1705.0,-1923.0,-3818.0
FINANCING ACTIVITIES,NaN,NaN,NaN,NaN,NaN
issuance of debt,764.0,2887.0,2948.0,3520.0,288.0
issuance of capital stock,38.0,54.0,0.0,0.0,0.0
repayment of long-term debt,-779.0,-1531.0,-575.0,-4146.0,-564.0
repurchase of capital stock,-870.0,-1343.0,-1529.0,-955.0,-706.0
payment of cash dividends,-1329.0,-1321.0,-1403.0,-1395.0,-1387.0
"other financing charges, net",0.0,0.0,0.0,0.0,0.0
cash from discontinued financing activities,0.0,0.0,0.0,0.0,0.0
net cash from financing activities,-1287.0,-2134.0,-609.0,-2756.0,-919.0
NET CASH FLOW,NaN,NaN,NaN,NaN,NaN
effect exchange rate changes,0.0,0.0,0.0,0.0,0.0
net change in cash & equivalents,-1212.0,2270.0,1600.0,-781.0,1057.0
cash at beginning of period,9039.0,7826.0,10096.0,11696.0,10915.0
cash end of period,7826.0,10096.0,11696.0,10915.0,11972.0
*,NaN,NaN,NaN,NaN,NaN
foreign sales,0.0,0.0,0.0,0.0,0.0
domestic sales,0.0,0.0,0.0,0.0,0.0
auditor name,PricewaterhouseCoopers LLP,NaN,NaN,NaN,PricewaterhouseCoopers LLP
auditor report,UQ,NaN,NaN,NaN,UQ

In [ ]:
df.dropna(inplace=True)

if len(df) == 0:
    raise ValueError("Less than 5 quarters of data found for " + symbol)

df.loc['price_datekey'] = prices(symbol, df.columns)['close'].values